# Learning and cleaning of House Price prediction dataset

In [1]:
import numpy as np

import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\ABHAY SINGHAL\Documents\Data Science\PROJECTS\House Price Pridiction\train.csv")

In [3]:
# Give the top values of Dataset and default give five most values
df.head()

,beds,baths,size,size_units,lot_size,lot_size_units,zip_code,price
0,3,2.5,2590.0,sqft,6000.00,sqft,98144,795000.0
1,4,2.0,2240.0,sqft,0.31,acre,98106,915000.0
2,4,3.0,2040.0,sqft,3783.00,sqft,98107,950000.0
3,4,3.0,3800.0,sqft,5175.00,sqft,98199,1950000.0
4,2,2.0,1042.0,sqft,NaN,NaN,98102,950000.0

In [5]:
df.shape

(2016, 8)

In [6]:
# for knoe the dimensions on Dataset
df.shape

(2016, 8)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2016 entries, 0 to 2015
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   beds            2016 non-null   int64
 1   baths           2016 non-null   float64
 2   size            2016 non-null   float64
 3   size_units      2016 non-null   object
 4   lot_size        1669 non-null   float64
 5   lot_size_units  1669 non-null   object
 6   zip_code        2016 non-null   int64
 7   price           2016 non-null   float64
dtypes: float64(4), int64(2), object(2)
memory usage: 126.1+ KB

In [8]:
for c in df.columns:
    print(df[c].value_counts())
    print("*"*20)
    print()

3     645
2     560
4     398
1     256
5     123
6      22
9       5
7       3
8       2
15      1
14      1
Name: beds, dtype: int64
********************

2.0    627
1.0    493
2.5    282
3.0    198
3.5    179
1.5    137
4.0     37
4.5     21
5.0     16
5.5     13
6.0      5
7.0      4
8.5      1
0.5      1
9.0      1
6.5      1
Name: baths, dtype: int64
********************

2080.0    12
1440.0    11
1460.0    11
1370.0    11
1670.0    11
          ..
1548.0     1
1174.0     1
1865.0     1
578.0      1
795.0      1
Name: size, Length: 879, dtype: int64
********************

sqft    2016
Name: size_units, dtype: int64
********************

5000.0    61
4000.0    45
6000.0    38
1.0       26
4800.0    16
          ..
745.0      1
5043.0     1
2256.0     1
8540.0     1
4267.0     1
Name: lot_size, Length: 959, dtype: int64
********************

sqft    1449
acre     220
Name: lot_size_units, dtype: int64
********************

98115    170
98103    166
98117    151
98144    113
98122    109
98118    100
98116     88
98107     83
98126     80
98106     78
98125     78
98105     73
98199     72
98119     70
98133     61
98109     61
98136     60
98102     60
98121     59
98112     57
98178     44
98168     44
98146     41
98108     33
98177     27
98101     23
98104     14
98164      1
Name: zip_code, dtype: int64
********************

750000.0     27
700000.0     25
850000.0     23
950000.0     20
900000.0     19
             ..
205000.0      1
3400000.0     1
1278500.0     1
6250000.0     1
659000.0      1
Name: price, Length: 767, dtype: int64
********************

In [9]:
# for checking null values in Data set
df.isna().sum()

beds                0
baths               0
size                0
size_units          0
lot_size          347
lot_size_units    347
zip_code            0
price               0
dtype: int64

In given DataSet the Null Values are present ,so we need to delete all those Null values.

In [10]:
df.drop(columns=['lot_size','lot_size_units'],inplace=True)
# df=df.drop(columns=['lot_size','lot_size_units'])
# Both Statements delete the Null Values in dataset

In [11]:
# Now check the Null values in dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2016 entries, 0 to 2015
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   beds        2016 non-null   int64
 1   baths       2016 non-null   float64
 2   size        2016 non-null   float64
 3   size_units  2016 non-null   object
 4   zip_code    2016 non-null   int64
 5   price       2016 non-null   float64
dtypes: float64(3), int64(2), object(1)
memory usage: 94.6+ KB

In [12]:
df.isna().sum()

beds          0
baths         0
size          0
size_units    0
zip_code      0
price         0
dtype: int64

In [13]:
# Analyse the Dataset
df.describe()

              beds        baths          size      zip_code         price
count  2016.000000  2016.000000   2016.000000   2016.000000  2.016000e+03
mean      2.857639     2.159970   1735.740575  98123.638889  9.636252e+05
std       1.255092     1.002023    920.132591     22.650819  9.440954e+05
min       1.000000     0.500000    250.000000  98101.000000  1.590000e+05
25%       2.000000     1.500000   1068.750000  98108.000000  6.017500e+05
50%       3.000000     2.000000   1560.000000  98117.000000  8.000000e+05
75%       4.000000     2.500000   2222.500000  98126.000000  1.105250e+06
max      15.000000     9.000000  11010.000000  98199.000000  2.500000e+07

In [14]:
df.head()

   beds  baths    size size_units  zip_code      price
0     3    2.5  2590.0       sqft     98144   795000.0
1     4    2.0  2240.0       sqft     98106   915000.0
2     4    3.0  2040.0       sqft     98107   950000.0
3     4    3.0  3800.0       sqft     98199  1950000.0
4     2    2.0  1042.0       sqft     98102   950000.0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2016 entries, 0 to 2015
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   beds        2016 non-null   int64
 1   baths       2016 non-null   float64
 2   size        2016 non-null   float64
 3   size_units  2016 non-null   object
 4   zip_code    2016 non-null   int64
 5   price       2016 non-null   float64
dtypes: float64(3), int64(2), object(1)
memory usage: 94.6+ KB

In [16]:
df['beds'].value_counts()

3     645
2     560
4     398
1     256
5     123
6      22
9       5
7       3
8       2
15      1
14      1
Name: beds, dtype: int64

In [17]:
# Now Add one column into the dataset 
df['price_p_sq']=df['price'] * 100000 / df['size']

In [18]:
df.head()

   beds  baths    size size_units  zip_code      price    price_p_sq
0     3    2.5  2590.0       sqft     98144   795000.0  3.069498e+07
1     4    2.0  2240.0       sqft     98106   915000.0  4.084821e+07
2     4    3.0  2040.0       sqft     98107   950000.0  4.656863e+07
3     4    3.0  3800.0       sqft     98199  1950000.0  5.131579e+07
4     2    2.0  1042.0       sqft     98102   950000.0  9.117083e+07

In [19]:
df['price_p_sq'].value_counts()

5.000000e+07    9
4.166667e+07    8
7.500000e+07    7
7.142857e+07    6
4.687500e+07    5
               ..
5.598291e+07    1
5.484375e+07    1
6.679049e+07    1
5.851900e+07    1
3.853801e+07    1
Name: price_p_sq, Length: 1870, dtype: int64

In [20]:
# Above column helps to delete the outliers from the dataset

In [21]:
df.describe()

,beds,baths,size,zip_code,price,price_p_sq
count,2016.000000,2016.000000,2016.000000,2016.000000,2.016000e+03,2.016000e+03
mean,2.857639,2.159970,1735.740575,98123.638889,9.636252e+05,5.915851e+07
std,1.255092,1.002023,920.132591,22.650819,9.440954e+05,8.327952e+07
min,1.000000,0.500000,250.000000,98101.000000,1.590000e+05,6.796117e+06
25%,2.000000,1.500000,1068.750000,98108.000000,6.017500e+05,4.452221e+07
50%,3.000000,2.000000,1560.000000,98117.000000,8.000000e+05,5.529762e+07
75%,4.000000,2.500000,2222.500000,98126.000000,1.105250e+06,6.595389e+07
max,15.000000,9.000000,11010.000000,98199.000000,2.500000e+07,3.424658e+09

In [22]:
df.shape

(2016, 7)

In [23]:
df

      beds  baths    size size_units  zip_code      price    price_p_sq
0        3    2.5  2590.0       sqft     98144   795000.0  3.069498e+07
1        4    2.0  2240.0       sqft     98106   915000.0  4.084821e+07
2        4    3.0  2040.0       sqft     98107   950000.0  4.656863e+07
3        4    3.0  3800.0       sqft     98199  1950000.0  5.131579e+07
4        2    2.0  1042.0       sqft     98102   950000.0  9.117083e+07
...    ...    ...     ...        ...       ...        ...           ...
2011     3    2.0  1370.0       sqft     98112   910000.0  6.642336e+07
2012     1    1.0   889.0       sqft     98121   550000.0  6.186727e+07
2013     4    2.0  2140.0       sqft     98199  1150000.0  5.373832e+07
2014     2    2.0   795.0       sqft     98103   590000.0  7.421384e+07
2015     3    2.0  1710.0       sqft     98133   659000.0  3.853801e+07

[2016 rows x 7 columns]

In [24]:
df['size_units'].value_counts()

sqft    2016
Name: size_units, dtype: int64

In [25]:
# So there is no other inits present in dataset 
df.drop(columns=['size_units'],inplace=True)

In [26]:
df.drop(columns=['price_p_sq'],inplace=True)

In [27]:
df.head()

   beds  baths    size  zip_code      price
0     3    2.5  2590.0     98144   795000.0
1     4    2.0  2240.0     98106   915000.0
2     4    3.0  2040.0     98107   950000.0
3     4    3.0  3800.0     98199  1950000.0
4     2    2.0  1042.0     98102   950000.0

This dataset is now ready to work for our model
So,Save this updated file

In [28]:
df.to_csv("final_dataset.csv")

In [29]:
X=df.drop(columns=['price'])
Y=df['price']

In [30]:
X

      beds  baths    size  zip_code
0        3    2.5  2590.0     98144
1        4    2.0  2240.0     98106
2        4    3.0  2040.0     98107
3        4    3.0  3800.0     98199
4        2    2.0  1042.0     98102
...    ...    ...     ...       ...
2011     3    2.0  1370.0     98112
2012     1    1.0   889.0     98121
2013     4    2.0  2140.0     98199
2014     2    2.0   795.0     98103
2015     3    2.0  1710.0     98133

[2016 rows x 4 columns]

In [31]:
Y

0        795000.0
1        915000.0
2        950000.0
3       1950000.0
4        950000.0
          ...
2011     910000.0
2012     550000.0
2013    1150000.0
2014     590000.0
2015     659000.0
Name: price, Length: 2016, dtype: float64

In [32]:
# Sure! train_test_split is like dividing a bag of candy into two parts: one for practicing and the other for testing.
from sklearn.model_selection import train_test_split

In [33]:
# Linear regression is like drawing a straight line through a scatterplot of data points to find a pattern.

# Lasso, short for Least Absolute Shrinkage and Selection Operator, is a type of regression analysis that helps in reducing the complexity of the model by penalizing the absolute size of the coefficients.
# Imagine you have a lot of features (like the number of rooms, bathrooms, square footage, etc.) to predict the price of a house. Some of these features might not be very important and could add noise to your prediction. Lasso regression helps you with that by shrinking or pushing some of the less important feature coefficients towards zero, effectively removing them from the model.

# In Ridge regression, the model tries to find the best-fitting line that predicts the house price based on the size and number of bedrooms, while also penalizing the size of the coefficients. This penalty term is based on the squared magnitude of the coefficients.
# Imagine your dataset has the following coefficients for the size and number of bedrooms:
# Size coefficient: 1000
# Bedroom coefficient: 500
# With Ridge regression, the model might adjust these coefficients to reduce their magnitude while still making accurate predictions. For example, it might change them to:
# Size coefficient: 900
# Bedroom coefficient: 450

from sklearn.linear_model import LinearRegression,Lasso,Ridge

In [34]:
from sklearn.preprocessing import OneHotEncoder,StandardScaler

In [35]:
from sklearn.compose import make_column_transformer

In [36]:
from sklearn.pipeline import make_pipeline

In [37]:
from sklearn.metrics import r2_score

In [38]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

In [39]:
print(X_train.shape)
print(Y_train.shape)

(1612, 4)
(1612,)

In [40]:
print(X_test)
print("************************************")
print(Y_test)

      beds  baths    size  zip_code
1358     2    3.0  1226.0     98144
1343     1    1.0   614.0     98109
1529     4    3.5  3180.0     98122
1471     4    2.0  1170.0     98168
1900     2    2.0  1019.0     98119
...    ...    ...     ...       ...
1988     4    2.0  2080.0     98116
799      4    3.0  1960.0     98136
1238     2    1.5  1550.0     98112
298      4    2.5  1850.0     98108
52       3    2.0  2480.0     98126

[404 rows x 4 columns]
************************************
1358     589990.0
1343     369950.0
1529    2485000.0
1471     530000.0
1900     813000.0
          ...
1988    1098000.0
799     1270000.0
1238    1550000.0
298      945000.0
52       800000.0
Name: price, Length: 404, dtype: float64

# Applying Linear Reggression

In [41]:
col_tran=make_column_transformer((OneHotEncoder(sparse=False),['beds']),remainder='passthrough')

In [42]:
make_column_transformer?

In [43]:
lr=LinearRegression(normalize=True)

In [44]:
lr

LinearRegression(normalize=True)

In [45]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

# X being feature matrix
scaler=StandardScaler()
X_scaled=scaler.fit_transform(X)

lr=LinearRegression()
lr.fit(X_scaled,Y)

LinearRegression()

In [46]:
pipe=make_pipeline(col_tran,scaler,lr)

In [47]:
pipe.fit(X_train,Y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['beds'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [48]:
Y_pred_lr=pipe.predict(X_test)
r2_score(Y_test,Y_pred_lr)

0.5746816285348348

In [49]:
# we  also use ohter model for the prediction of House and check which model works best for us and then use them...

# Lasso

In [50]:
lasso=Lasso()

In [51]:
pipe=make_pipeline(col_tran,scaler,lasso)

In [52]:
pipe.fit(X_train,Y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['beds'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [53]:
Y_pred_lasso=pipe.predict(X_test)
r2_score(Y_test,Y_pred_lasso)

0.5746817917322382

# Using Ridge

In [54]:
ridge=Ridge()

In [55]:
pipe=make_pipeline(col_tran,scaler,ridge)

In [56]:
pipe.fit(X_train,Y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['beds'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [57]:
Y_pred_ridge=pipe.predict(X_test)
r2_score(Y_test,Y_pred_ridge)

0.5746884627878555

In [58]:
print("No Regularization: ",r2_score(Y_test,Y_pred_lr))
print("Lasso: ",r2_score(Y_test,Y_pred_lasso))
print("Ridge: ",r2_score(Y_test,Y_pred_ridge))

No Regularization:  0.5746816285348348
Lasso:  0.5746817917322382
Ridge:  0.5746884627878555

In [59]:
import pickle

In [60]:
pickle.dump(pipe,open('RidgeModel.pkl','wb'))

In [61]:
#Start at 25:00